Screen {
    align: center middle;
}

GsmCliApp {
    align: center middle;
}

Horizontal {
    align: center middle;
}

Greeter {
    align: center middle;
    text-align: center;
    width: 60%;
    height: 50%;
    padding: 1 2;
    background: $panel;
    color: $text;
    border: $secondary tall;
}

#clock {
    width: 100%;
    text-align: center;
}

.clocklabel {
    text-align: center;
}